*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    height: 600px;
    width: 800px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 10px;
    gap: 10px;
}

.box{
    background-color: red;
}

.seventh, .fifth, .third{
    background-color: orange;
}

.first{
    grid-row: 1/4;
    background-color: green
}

.second{
    grid-column: 2/4;
    background-color: green

}

.sixth{
    grid-row: 2/4;
    grid-column: 4/5;
    background-color: green

}